*{
	padding: 0;
	margin: 0;
	font-family: 'Montserrat', sans-serif;
}
.header{
	width: 100%;
	height: 157px;
	background-color: #CE8D66;
	min-width: 303px;
}

nav {
	padding-left: 12px;
	padding-right: 12px;
	padding-top: 56px;
	display: flex;	
	align-items: center;
	justify-content: center;
}

nav .logo {
	transition: 0.5s;
}
nav .logo:hover {
	background-color: #C58762;
	border-radius: 15px;
}

.nameCompany a{
	text-decoration: none;
	color: black;
	font-size: 30px;
	font-weight: 800;
	margin-left: 23px;
	vertical-align: top;
	margin-top: 3.5px;
	transition: 0.3s;
}
.nameCompany a:hover{
	color: #3B3B3B;
}

nav ul.other-pages{
	margin-left: 28px;
}

nav ul.other-pages li{
	list-style: none;
	display: inline-block;
	justify-content: space-between;
	margin-left: 58px;
}

nav ul.other-pages li a{
	text-decoration: none;
	color: black;
	font-size: 18px;
	transition: 0.5s;
}

nav ul.other-pages li::after{
	content: '';
	width: 0;
	height: 2px;
	background-color: #ECD7D9;
	margin: auto;
	display: block;
	transition: 0.3s;
}

nav ul.other-pages li:hover::after{
	width: 100%;
}

nav ul.other-pages li a:hover{
	color: #ECD7D9;
}
.accountImage {
	margin-left: 90px;
}
.accountBtn{
	margin-left: 18px;
	width: 61px;
	height: 30px;
	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
	border-radius: 20px;
	border: none;
	font-family: 'Roboto';
	background-color: #B9D2B1;
	cursor: pointer;
	transition: 0.6s;
}
.accountBtn:hover{
	color: #fff;
}

.lang-menu{
	margin-left: 39px;
	display: flex;	
	position: relative;
}
.list-lang-icon{
	margin-left: 8px;
	width: 80%;
	cursor: pointer;
}

.lang-menu .list-lang-div {
	display: none;
	width: 120px;
	height: 30px;
	position: absolute;
	left: 0;
	margin-top: 5px;
	background: #FFFFFF;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 5px;
	border: 1px solid #f8f8f8;
}
ul.other-langs {
	list-style: none;
}
ul.other-langs li:hover{
	background-color: #f2f2f2;
}
ul.other-langs li div.main-content-lang-list{
	width: 120px;
	height: 30px;
	display: flex;
	align-items: center;
}
ul.other-langs li div.main-content-lang-list div.icon-lang-select{
	padding-top: 5px;
}
ul.other-langs li div.main-content-lang-list div.name-lang-select{
	padding-left: 5px;
}
ul.other-langs li div.main-content-lang-list div.name-lang-select a{
	text-decoration: none;
	color: black;
}

.list-icon-and-whole-list:hover .list-lang-div {
    display: block;
}

.additional-menu {
	display: none;
	position: relative;
	cursor: pointer;
	padding-left: 15px;
}
.additional-menu img{
	width: 30px;
}
.list-options-menu {
	position: absolute;
	margin-top: 0.5px;
	right: 0;
}
.list-options-menu ul.list-options{
	display: none;
	width: 110px;
	background-color: #D9C9ED;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 5px;
	border: 3px solid #fff;
	list-style: none;
}
.list-options-menu ul.list-options li{
	padding-top: 4px;
	padding-bottom: 4px;
	display: flex;
	justify-content: center;
	text-align: center;
	transition: 0.3s;
}
.list-options-menu ul.list-options li a{
	text-decoration: none;
	color: black;
}
.list-options-menu ul.list-options li:hover{
	background-color: #EBDCFE;
	border-radius: 5px;
}
.additional-menu:hover .list-options-menu ul.list-options{
	display: block;
}



section.main-section {
	width: 100%;
	height: 1340px;
	background-color: #F6EFFF;
	min-width: 303px;
}
section.main-section .search-whole-form{
	width: 100%;
	height: 56px;
	padding-top: 34px;
	display: flex;
	justify-content: center;
}
section.main-section .search-whole-form form{
	display: flex;
}
.search-whole-form .search-text-field{
	width: 346px;
	height: 56px;
	box-sizing: border-box;
	border: 1px solid #CBCBCB;
	font-size: 18px;
	padding-left: 30px;
}
.search-whole-form .search-text-field::-webkit-search-cancel-button{
	-webkit-appearance: none;
    position:relative;
    right:10px;
  	width: 34px;
  	content: url(images/search_book_page/free-icon-cross-5233856.png);
  	cursor: pointer;
  	transition: 0.3s;
}
.search-whole-form .search-text-field::-webkit-search-cancel-button:hover{
	transform: translateY(-1.5px);
}
.search-whole-form .search-text-field::placeholder {
	padding-left: 2px;
	font-size: 18px;
	color: #B5B5B5;
}

button.searchBooksBtn{
	width: 56px;
	height: 56px;
	border: none;
	background-color: #D9B3AC;
	cursor: pointer;
	transition: 0.4s;
}
button.searchBooksBtn img{
	width: 30px;
}
button.searchBooksBtn:hover{
	background-color: #ECC4BD;
}

section.main-section .popular-books-content{
	width: 100%;
	height: 56px;
	padding-top: 77px;
}
section.main-section .popular-books-content .popular-books-text{
	width: 100%;
	font-size: 32px;
	font-family: 'Dancing Script';
	font-weight: 400;
	display: flex;
	justify-content: center;
}
section.main-section .popular-books-content .popular-books-cards{
	padding-top: 23px;
	display: flex;
	flex-direction: column;
}
section.main-section .popular-books-content .popular-books-cards .card-pare{
	width: 100%;
	display: flex;
	justify-content: space-around;
	padding-top: 29px;
	padding-bottom: 29px;
}
section.main-section .popular-books-content .popular-books-cards .card-element{
	width: 564px;
	height: 303px;
	background: #FFFFFF;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 20px;
	display: flex;
	align-items: center;
	cursor: pointer;
	transition: 0.4s;
}
section.main-section .popular-books-content .popular-books-cards .card-element:hover{
	transform: translateY(-3px);
}

section.main-section .popular-books-content .popular-books-cards .card-element .card-element-content{
	width: 500px;
	height: 233px;
	display: flex;
	justify-content: space-around;
}
section.main-section .popular-books-content .popular-books-cards .card-element-content > img{
	width: 180px;
	height: 233px;
	padding-left: 10px;
}
section.main-section .popular-books-content .popular-books-cards .card-element-content .card-element-description{
	width: 290px;
	height: 240px;
	font-size: 23px;
	line-height: 36px;
	display: flex;
	flex-direction: column;
}

section.main-section .popular-books-content .popular-books-cards .card-element-content .book-valuation {
	display: flex;
	justify-content: space-between;
}
section.main-section .popular-books-content .popular-books-cards .card-element-content .book-valuation img{
	width: 32px;
	height: 32px;
}
section.main-section .popular-books-content .popular-books-cards .card-element-description .premium-book{
	height: 100%;
	display: flex;
	align-items: flex-end;

}
section.main-section .popular-books-content .popular-books-cards .card-element-description .premium-book > img{
	width: 39px;
}



footer{
	width: 100%;
	height: 422px;
	background-color: #565554;
	min-width: 303px;	
}
.footer-main-content{
	display: flex;
	justify-content: center;
	color: white;
	width: 1134px;
	height: 233px;
	padding-top: 99px;
	padding-left: 9%;
	font-weight: 500;
	font-size: 18px;
}
.footer-main-content .additional-options{
	display: flex;
}
.footer-main-content .social-network-info .call-to-action{
	width: 437px;
}
.footer-main-content .social-network-info .social-networks img{
	padding-left: 40px;
	padding-top: 5.5px;
	transition: 0.5s;
}
.footer-main-content .social-network-info .social-networks img:hover{
	transform: translate(0, -12px);
}
.call-to-action, .header-options{
	font-weight: 700;
	font-size: 25px;
	padding-bottom: 23.5px;
}

.footer-main-content .social-network-info > a{
	display: block;
	padding-left: 30px;
	transition: 0.5s;
}
.footer-main-content .social-network-info > a:hover{
	transform: translate(0, 6px);
}

.footer-main-content .account-options{
	padding-left: 122px;

}
.footer-main-content .book-options{
	padding-left: 150px;
}

.footer-main-content div.option {
	width: 216px;
	padding-top: 8.5px;
	padding-bottom: 8.5px;
}
.footer-main-content div.option a{
	color: white;
	text-decoration: none;
}

.footer-main-content div.option a:hover{
	text-decoration: underline;
	text-underline-offset: 17%;
}

@media (max-width: 1300px){
	footer{
		height: 722px;
	}
	.footer-main-content{
		width: 100%;
		height: 583px;
		padding-left: 0;
		flex-direction: column;
		align-items: center;
	}
	.footer-main-content .social-network-info{
		width: 500px;
	}
	.footer-main-content .account-options{
		padding-top: 10px;
		padding-left: 10px;
	}
	.footer-main-content .book-options{
		padding-top: 10px;
	}
}

@media (max-width: 1200px){
	section.main-section {
		height: 2100px;
	}
	section.main-section .popular-books-content .popular-books-cards .card-pare{
		flex-direction: column;
		align-items: center;
		padding-top: 0;
		padding-bottom: 0;
	}
	section.main-section .popular-books-content .popular-books-cards .card-element{
		margin-top: 20px;
	}
}

@media (max-width: 1300px){
	nav ul.other-pages li:first-child{
		display: none;
	}
}

@media (max-width: 1170px){
	nav ul.other-pages {
		display: none;
	}
	.additional-menu {
		display: block;
	}
}

@media (max-width: 700px){
	.accountBtn{
		display: none;
	}
	.accountImage {
		margin-left: 30px;
	}
	.lang-menu{
		margin-left: 19px;
		display: flex;	
		position: relative;
	}
	.footer-main-content .book-options{
		padding-left: 20px;
	}
	.footer-main-content .social-network-info {
		width: 460px;
	}
	.lang-menu .list-lang-div {
		left: auto;
		right: 0;
	}
	section.main-section .popular-books-content .popular-books-cards .card-element{
		width: 450px;
	}
	section.main-section .popular-books-content .popular-books-cards .card-element-content {
		width: 450px;
	}
	section.main-section .popular-books-content .popular-books-cards .card-element-content > img{
		width: 150px;
		height: 203px;
		padding-left: 5px;
	}
}

@media (max-width: 550px){
	.header{
		height: 80px;
	}
	nav {
		padding-top: 28px;
	}
	nav .logo {
		width: 50px;
	}
	.nameCompany a{
		margin-left: 2px;
		font-size: 17px;
	}
	.accountImage {
		width: 40px;
		margin-left: 30px;
	}
	.lang-menu img{
		width: 15px;
	}
	.lang-menu .list-lang-div {
		width: 90px;
		height: 20px;
		margin-top: 0;
	}
	ul.other-langs li div.main-content-lang-list{
		height: 20px;
	}
	ul.other-langs li div.main-content-lang-list div.name-lang-select a{
		font-size: 12px;
	}
	.additional-menu {
		padding-left: 5px;
	}
	.additional-menu img{
		width: 20px;
	}
	.list-options-menu {
		position: absolute;
		margin-top: 0.5px;
		right: 0;
	}
	.list-options-menu ul.list-options{
		width: 80px;
	}
	.list-options-menu ul.list-options li a{
		font-size: 12px;
	}


	section.main-section {
		height: 1140px;
	}
	section.main-section .search-whole-form{
		height: 28px;
		padding-top: 17px;
	}
	.search-whole-form .search-text-field{
		width: 173px;
		height: 28px;
		font-size: 12px;
		padding-left: 15px;
	}
	.search-whole-form .search-text-field::-webkit-search-cancel-button{
	    right:5px;
	  	width: 17px;
	}
	.search-whole-form .search-text-field::-webkit-search-cancel-button:hover{
		transform: translateY(-1px);
	}
	.search-whole-form .search-text-field::placeholder {
		padding-left: 1px;
		font-size: 12px;
	}
	.search-whole-form .search-text-field:focus{
		outline: none;
		border: 1px solid #000;
		border-radius: 2px;
	}

	button.searchBooksBtn{
		width: 28px;
		height: 28px;
	}
	button.searchBooksBtn img{
		width: 17px;
	}

	section.main-section .popular-books-content{
		height: 28px;
		padding-top: 38px;
	}
	section.main-section .popular-books-content .popular-books-text{
		font-size: 18px;
	}
	section.main-section .popular-books-content .popular-books-cards{
		padding-top: 11px;
	}
	section.main-section .popular-books-content .popular-books-cards .card-pare{
		padding-top: 14px;
		padding-bottom: 14px;
	}
	section.main-section .popular-books-content .popular-books-cards .card-element{
		width: 282px;
		height: 151px;
		border-radius: 10px;
	}
	section.main-section .popular-books-content .popular-books-cards .card-element:hover{
		transform: translateY(-2px);
	}

	section.main-section .popular-books-content .popular-books-cards .card-element .card-element-content{
		width: 250px;
		height: 116px;
	}
	section.main-section .popular-books-content .popular-books-cards .card-element-content > img{
		width: 90px;
		height: 116px;
		padding-left: 5px;
	}
	section.main-section .popular-books-content .popular-books-cards .card-element-content .card-element-description{
		width: 145px;
		height: 120px;
		font-size: 12px;
		line-height: 20px;
	}
	section.main-section .popular-books-content .popular-books-cards .card-element-content .book-valuation img{
		width: 16px;
		height: 16px;
	}
	section.main-section .popular-books-content .popular-books-cards .card-element-description .premium-book > img{
		width: 18px;
	}


	footer{
		height: 300px;
	}
	.footer-main-content{
		padding-top: 0;
		font-size: 9px;
		height: 300px;
	}

	.footer-main-content .social-network-info {
		width: 265px;
	}

	.footer-main-content .social-network-info .call-to-action{
		width: 265px;
	}

	.call-to-action, .header-options{
		font-size: 15px;
		padding-bottom: 11.5px;
	}
	.footer-main-content .social-network-info .social-networks img{
		width: 30px;
		padding-left: 27px;
		padding-top: 2.5px;
	}
	.footer-main-content .social-network-info .social-networks img:hover{
		transform: translate(0, -7px);
	}

	.footer-main-content .social-network-info > a{
		padding-left: 33px;
	}
	.footer-main-content .social-network-info > a:hover{
		transform: translate(0, 3px);
	}
	.footer-main-content .social-network-info > a img{
		width: 200px;
	}

	.footer-main-content .account-options{
		padding-left: 35px;

	}
	.footer-main-content .book-options{
		padding-left: 0;
	}

	.footer-main-content div.option {
		width: 118px;
		padding-top: 4.25px;
		padding-bottom: 4.25px;
	}
}